@use 'sass:map';
@use 'variables' as *;
@use 'functions' as *;

@mixin hover($include-focus-visible: true) {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @if $include-focus-visible {
        &:focus-visible {
            @content;
        }
    }
}

@mixin section-padding($top: 100px, $right: 0, $bottom: 0, $left: 0) {
    padding: $top $right $bottom $left;
}

@mixin media-breakpoint-up($name) {
    @media (min-width: #{map.get($breakpoints, $name) + 1}px ) {
        @content;
    }
}

@mixin font($desktop, $mobile, $property: 'font-size') {
    & {
        #{$property}: rem($mobile);
    }

    @include media-breakpoint-up(md) {
        #{$property}: rem($desktop);
    }
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin hiddenNativeScrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin customNativeScrollBarStyle(
    $thumbColor: --red-2,
    $trackColor: --gray-2,
    $size: 4px
) {
    // Firefox
    @-moz-document url-prefix("") {
        scrollbar-width: thin;
        scrollbar-color: var($thumbColor) var($trackColor);
    }

    // Webkit (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track {
        background-color: var($trackColor);
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var($thumbColor);
        border-radius: 20px;
    }
}
