@use './base/reset';
@use './base/colors' as *;
@use 'members' as *;

@use '../components/ui/section-title/section-title.scss';
@use '../components/ui/section-description/section-description.scss';
@use '../components/ui/icon-info/icon-info.scss';
@use '../components/common/header/header.scss';
@use '../components/common/slider/slider.scss';
@use '../components/sections/intro/intro.scss';
@use '../components/sections/numbers/numbers.scss';
@use '../components/sections/map/map.scss';
@use '../components/sections/mission/mission.scss';
@use '../components/sections/business-directions/business-directions.scss';
@use '../components/sections/benefits/benefits.scss';
@use '../components/sections/corporate-life/corporate-life.scss';

html, 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-proxima-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: var(--white);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header,
main {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

main {
    flex: 1;
    padding-bottom: 67px;

    @media (max-width: 768px) {
        padding-bottom: 50px;
    }
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}
