@use 'sass:list';

$font-proxima-name: "ProximaNovaCondensed";
$font-proxima-family: $font-proxima-name, Arial, sans-serif;

$fontFiles: (
    "proximanovacond_regular": (400, 'ttf', 'truetype'),
    "proximanovacond_bold": (700, 'ttf', 'truetype'),
    "proximanovacond_semibold": (600, 'otf', 'opentype'),
    "proximanovacond_black": (900, 'otf', 'opentype'),
);

@each $fileName, $details in $fontFiles {
    $weight: list.nth($details, 1);
    $ext: list.nth($details, 2);
    $format: list.nth($details, 3);

    @font-face {
        font-family: $font-proxima-name;
        src: url('../assets/fonts/#{$fileName}.#{$ext}') format('#{$format}');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}
